%input#c_type{:type => 'hidden', :value => "summary"}
.col-lg-12
  .page-header
    %h3#navbar
      %small
        %span.text-success
          %strong Congratulations! 
        You have successfully completed this session. You have learnt the following concepts in this session:
  .panel.panel-primary
    / Default panel contents
    .panel-heading Summary
    .panel-body
      %ol
        %li Creating new user accounts on Windows 7.
        %li Difference between standard and administrator user accounts.
        %li Managing user accounts - creating account passwords, changing passwords, and changing the account picture
        %li
          Setting up parental controls like
          %ul
            %li time limits on when  a user can use the computer
            %li allow or block games by rating, content or title
            %li allow or block any programs on the computer