= stylesheet_link_tag 'grey'
.row.clearfix
  .col-lg-12
    .list-group
      %a.list-group-item.active
        %h3
          About the Course
      .list-group-item
        In this session you will learn about Maintaining Windows 7, with a focus on 
        %strong Managing user accounts
      .list-group-item
        To begin with you will go through a set of three video lectures. Each video will be followed by a question that you have to answer, to proceed to the next video. At the end of the third video, you will be challenged to crack two simulated exercises.
      .list-group-item
        The session will end with a thought that you carry over beyond this session, and a summary of the session.
      .list-group-item
        When you are ready, click 
        %a.text-warning{href: "/player"}
          %strong 
            \  Start learning  

:css
  h3, .h3 {
    margin-bottom: 10.5px;
    margin-top: 2px !important;
  } 
