/= @leaf_data
.bs-example
  .page-header
    %h2
      %small
        = @leaf_data['q']
    
  .page-body{style: "margin: 10px;"}
    %input#c_type{:type => 'hidden', :value => "question"}
    .col-lg-10
      -(1..4).each do |i|
        .radio
          %label
            %input#optionsRadios1{name: "optionsRadios", type: "radio", value: "#{i}"}/
            %h4
              = @leaf_data['options']["#{i}"]
      %br
      #q_answer