/ .row
/   .col-lg-12
/     .col-lg-2{:align=>'right'}
/       Powered by
/     .col-lg-3    
/       %img{src: "/images/wiley.png", width: "100", height: "100", :align=>'left'}
/     .col-lg-7
/       &nbsp;  
/     